* text=auto !eol
fieldpicker/pom.xml -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/ExternalDocumentCollection.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/ExternalDocumentDisplayService.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/ExternalDocumentFieldService.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/ExternalDocumentSearchService.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/ExternalDocumentServiceContext.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/ExternalDocumentServiceFacade.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/PluginConstants.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/api/package-info.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/ServiceDelegatingExternalDocumentServiceFacade.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/SimpleExternalDocumentCollection.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/SimpleExternalDocumentCollectionDataProvider.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/SimpleExternalDocumentServiceContext.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldBrowserDialog.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldBrowserPageNavigator.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldSelectorPlugin.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/field/package-info.java -text
fieldpicker/src/main/java/org/onehippo/forge/exdocpicker/impl/package-info.java -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldBrowserDialog.css -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldBrowserDialog.html -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldBrowserPageNavigator.html -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldSelectorPlugin.css -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldSelectorPlugin.html -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/ExternalDocumentFieldSelectorPlugin.properties -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/delete-small-16.png -text
fieldpicker/src/main/resources/org/onehippo/forge/exdocpicker/impl/field/no-icon.jpg -text
fieldpicker/src/test/java/org/onehippo/forge/exdocpicker/impl/SimpleExternalDocumentCollectionTest.java -text
/pom.xml -text
richtext-ckeditor/pom.xml -text
richtext-ckeditor/src/test/resources/ckeditor/CHANGES.md -text
richtext-ckeditor/src/test/resources/ckeditor/LICENSE.md -text
richtext-ckeditor/src/test/resources/ckeditor/README.md -text
richtext-ckeditor/src/test/resources/ckeditor/adapters/jquery.js -text
richtext-ckeditor/src/test/resources/ckeditor/build-config.js -text
richtext-ckeditor/src/test/resources/ckeditor/ckeditor.js -text
richtext-ckeditor/src/test/resources/ckeditor/config.js -text
richtext-ckeditor/src/test/resources/ckeditor/contents.css -text
richtext-ckeditor/src/test/resources/ckeditor/lang/af.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ar.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/bg.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/bn.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/bs.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/cs.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/cy.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/da.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/de.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/el.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/en-au.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/en-ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/en-gb.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/en.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/eo.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/es.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/et.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/eu.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/fa.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/fi.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/fo.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/fr-ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/fr.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/gl.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/gu.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/he.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/hi.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/hr.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/hu.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/id.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/is.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/it.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ja.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ka.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/km.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ko.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ku.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/lt.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/lv.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/mk.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/mn.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ms.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/nb.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/nl.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/no.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/pl.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/pt-br.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/pt.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ro.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ru.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/si.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/sk.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/sl.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/sq.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/sr-latn.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/sr.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/sv.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/th.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/tr.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/ug.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/uk.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/vi.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/zh-cn.js -text
richtext-ckeditor/src/test/resources/ckeditor/lang/zh.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/a11yhelp.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/_translationstatus.txt -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ar.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/bg.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/cs.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/cy.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/da.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/de.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/el.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/en-gb.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/en.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/eo.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/es.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/et.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/fa.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/fi.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/fr-ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/fr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/gl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/gu.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/he.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/hi.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/hr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/hu.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/id.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/it.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ja.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/km.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ko.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ku.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/lt.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/lv.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/mk.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/mn.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/nb.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/nl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/no.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/pl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/pt-br.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/pt.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ro.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ru.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/si.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/sk.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/sl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/sq.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/sr-latn.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/sr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/sv.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/th.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/tr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/ug.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/uk.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/vi.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/zh-cn.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/a11yhelp/dialogs/lang/zh.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/about/dialogs/about.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/about/dialogs/hidpi/logo_ckeditor.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/about/dialogs/logo_ckeditor.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/clipboard/dialogs/paste.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/dialog/dialogDefinition.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/fakeobjects/images/spacer.gif -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/icons.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/icons_hidpi.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/image/dialogs/image.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/image/images/noimage.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/link/dialogs/anchor.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/link/dialogs/link.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/link/images/anchor.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/link/images/hidpi/anchor.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/magicline/images/hidpi/icon.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/magicline/images/icon.png -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/pastefromword/filter/default.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/scayt/LICENSE.md -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/scayt/README.md -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/scayt/dialogs/options.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/scayt/dialogs/toolbar.css -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/_translationstatus.txt -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/ar.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/bg.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/cs.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/cy.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/de.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/el.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/en-gb.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/en.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/eo.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/es.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/et.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/fa.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/fi.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/fr-ca.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/fr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/gl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/he.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/hr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/hu.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/id.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/it.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/ja.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/km.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/ku.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/lv.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/nb.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/nl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/no.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/pl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/pt-br.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/pt.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/ru.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/si.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/sk.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/sl.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/sq.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/sv.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/th.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/tr.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/ug.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/uk.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/vi.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/zh-cn.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/lang/zh.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/specialchar/dialogs/specialchar.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/table/dialogs/table.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/tabletools/dialogs/tableCell.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/LICENSE.md -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/README.md -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/dialogs/ciframe.html -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/dialogs/tmp.html -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/dialogs/tmpFrameset.html -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/dialogs/wsc.css -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/dialogs/wsc.js -text
richtext-ckeditor/src/test/resources/ckeditor/plugins/wsc/dialogs/wsc_ie.js -text
richtext-ckeditor/src/test/resources/ckeditor/samples/ajax.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/api.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/appendto.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/assets/inlineall/logo.png -text
richtext-ckeditor/src/test/resources/ckeditor/samples/assets/outputxhtml/outputxhtml.css -text
richtext-ckeditor/src/test/resources/ckeditor/samples/assets/posteddata.php -text
richtext-ckeditor/src/test/resources/ckeditor/samples/assets/sample.css -text
richtext-ckeditor/src/test/resources/ckeditor/samples/assets/sample.jpg -text
richtext-ckeditor/src/test/resources/ckeditor/samples/assets/uilanguages/languages.js -text
richtext-ckeditor/src/test/resources/ckeditor/samples/datafiltering.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/divreplace.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/index.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/inlineall.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/inlinebycode.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/inlinetextarea.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/jquery.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/dialog/assets/my_dialog.js -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/dialog/dialog.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/enterkey/enterkey.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/htmlwriter/assets/outputforflash/outputforflash.fla -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/htmlwriter/assets/outputforflash/outputforflash.swf -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/htmlwriter/assets/outputforflash/swfobject.js -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/htmlwriter/outputforflash.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/htmlwriter/outputhtml.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/magicline/magicline.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/toolbar/toolbar.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/plugins/wysiwygarea/fullpage.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/readonly.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/replacebyclass.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/replacebycode.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/sample.css -text
richtext-ckeditor/src/test/resources/ckeditor/samples/sample.js -text
richtext-ckeditor/src/test/resources/ckeditor/samples/sample_posteddata.php -text
richtext-ckeditor/src/test/resources/ckeditor/samples/tabindex.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/uicolor.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/uilanguages.html -text
richtext-ckeditor/src/test/resources/ckeditor/samples/xhtmlstyle.html -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/dialog.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/dialog_ie.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/dialog_ie7.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/dialog_ie8.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/dialog_iequirks.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/dialog_opera.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/editor.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/editor_gecko.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/editor_ie.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/editor_ie7.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/editor_ie8.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/editor_iequirks.css -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/icons.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/icons_hidpi.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/arrow.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/close.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/hidpi/close.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/hidpi/lock-open.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/hidpi/lock.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/hidpi/refresh.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/lock-open.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/lock.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/images/refresh.png -text
richtext-ckeditor/src/test/resources/ckeditor/skins/moono/readme.md -text
richtext-ckeditor/src/test/resources/ckeditor/styles.js -text
richtext-ckeditor/src/test/resources/test.html -text
src/site/resources/highlight-source-elements.js -text
src/site/resources/images/exdocpickerbase-archview.png -text
src/site/resources/images/exdocpickerbase-screenshot-01.png -text
src/site/resources/images/exdocpickerbase-screenshot-02.png -text
src/site/resources/jquery-1.7.2.min.js -text
src/site/resources/sh/scripts/shAutoloader.js -text
src/site/resources/sh/scripts/shBrushAS3.js -text
src/site/resources/sh/scripts/shBrushAppleScript.js -text
src/site/resources/sh/scripts/shBrushBash.js -text
src/site/resources/sh/scripts/shBrushCSharp.js -text
src/site/resources/sh/scripts/shBrushColdFusion.js -text
src/site/resources/sh/scripts/shBrushCpp.js -text
src/site/resources/sh/scripts/shBrushCss.js -text
src/site/resources/sh/scripts/shBrushDelphi.js -text
src/site/resources/sh/scripts/shBrushDiff.js -text
src/site/resources/sh/scripts/shBrushErlang.js -text
src/site/resources/sh/scripts/shBrushGroovy.js -text
src/site/resources/sh/scripts/shBrushJScript.js -text
src/site/resources/sh/scripts/shBrushJava.js -text
src/site/resources/sh/scripts/shBrushJavaFX.js -text
src/site/resources/sh/scripts/shBrushPerl.js -text
src/site/resources/sh/scripts/shBrushPhp.js -text
src/site/resources/sh/scripts/shBrushPlain.js -text
src/site/resources/sh/scripts/shBrushPowerShell.js -text
src/site/resources/sh/scripts/shBrushPython.js -text
src/site/resources/sh/scripts/shBrushRuby.js -text
src/site/resources/sh/scripts/shBrushSass.js -text
src/site/resources/sh/scripts/shBrushScala.js -text
src/site/resources/sh/scripts/shBrushSql.js -text
src/site/resources/sh/scripts/shBrushVb.js -text
src/site/resources/sh/scripts/shBrushXml.js -text
src/site/resources/sh/scripts/shCore.js -text
src/site/resources/sh/scripts/shLegacy.js -text
src/site/resources/sh/styles/shCore.css -text
src/site/resources/sh/styles/shCoreDefault.css -text
src/site/resources/sh/styles/shCoreDjango.css -text
src/site/resources/sh/styles/shCoreEclipse.css -text
src/site/resources/sh/styles/shCoreEmacs.css -text
src/site/resources/sh/styles/shCoreFadeToGrey.css -text
src/site/resources/sh/styles/shCoreMDUltra.css -text
src/site/resources/sh/styles/shCoreMidnight.css -text
src/site/resources/sh/styles/shCoreRDark.css -text
src/site/resources/sh/styles/shThemeDefault.css -text
src/site/resources/sh/styles/shThemeDjango.css -text
src/site/resources/sh/styles/shThemeEclipse.css -text
src/site/resources/sh/styles/shThemeEmacs.css -text
src/site/resources/sh/styles/shThemeFadeToGrey.css -text
src/site/resources/sh/styles/shThemeMDUltra.css -text
src/site/resources/sh/styles/shThemeMidnight.css -text
src/site/resources/sh/styles/shThemeRDark.css -text
src/site/site.xml -text
src/site/xdoc/architecture.xml -text
src/site/xdoc/dev-howto.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
