<?xml version='1.0' encoding='utf-8'?>
<Context>
    <!-- Disable session persistence across Tomcat restarts -->
    <Manager pathname="" />

    <Resource name="jdbc/newsDS" auth="Container"
              type="javax.sql.DataSource" driverClassName="org.hsqldb.jdbc.JDBCDriver"
              url="jdbc:hsqldb:http://localhost:8080/hsqldb/"
              username="SA" password="" maxTotal="20" maxIdle="10"
              maxWaitMillis="-1"/>

</Context>
