@CHARSET "UTF-8";

.exdocfield-docs-selector{
    margin: 2px 0 12px 16px;
}

a.preview{
    color:#0467B4;
}

.exdocfield-doc-selector-link a:hover{
    text-decoration: underline;
}

.exdocfield-doc-selector-link a{
    color:#0467B4;
}
