@CHARSET "UTF-8";

.exdocfield-docs-selector {
  margin: 2px 0 12px 16px;
}

.exdocfield-doc-selector-link a:hover {
  text-decoration: none;
}

.exdocfield-doc-selector-link a {
  color:#000;
}

ul.exdocfield-docitems li {
  margin: 10px;
}

ul.exdocfield-docitems img {
  vertical-align: middle;
}

span.exdocpickerlinkspan{
  background-color: #fff;
  border: 1px solid #d4d6d8;
  float:left;
  clear:right;
  display:block;
  border-radius:5px;
}

span.exdocpickerlinkspan:hover{
  background-color: #d4d6d8;
  border:1px solid #999;
}

span.exdocpickerlinkspan a {
  margin:3px;
  padding: 3px;
  float:left;
  clear:right;
  display:block;
  color:#000;
  text-decoration:none;
}

.exdocfield-field-subfield-buttons {
  background-image: none;
  border: none;
  margin-bottom: 4px;
  min-height: 25px;
  padding: 1px;
  position: relative;
}
