<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         id="hsqldb">

  <display-name>vieques-cms Example HSQL DB</display-name>
  <description>vieques-cms Example HSQL DB</description>

  <servlet>
    <servlet-name>HSQLDBServlet</servlet-name>
    <servlet-class>org.hsqldb.server.Servlet</servlet-class>
    <init-param>
      <param-name>hsqldb.server.database</param-name>
      <param-value>example-hsqldb</param-value>
    </init-param>
    <init-param>
      <param-name>hsqldb.server.use_web-inf_path</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>HSQLDBServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
